!!! 5
html(lang="en")
  head
    title= 'BillPlat - Split Your Bills'
    link(rel='stylesheet', href='/stylesheets/reportbill.css')
    script(type='text/javascript', src='/javascripts/json2.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(type='text/javascript', src='/javascripts/backbone.js')
    script(type='text/javascript', src='/javascripts/reportbill.js')

  body
    div(id="content")
      div(id="billwrapper")

