body {
  background: #ddd;
  margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
  text-align:center; /* Hack for IE5/Win */
  position: relative;
}

	
#content {
  width:800px;
  margin:0px auto; /* Right and left margin widths set to "auto" */
  text-align:left; /* Counteract to IE5/Win Hack */
  padding:15px;
  border:1px dashed #333;
  position: relative;
}

.bill {
  font-size: 14px;
  font-family: Courier, monospace;
  width: 400px;
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  color: #999;
}

table#lineitems_table {
  table-layout: fixed;
  width: 400px;
  overflow: hidden;
  border: 0px;
  border-spacing: 0px;
}

th {
  font-weight: bold;
}

.bill h3 {
  text-align: center;
  font-size: 14px;
}

.bill h3.description {
  font-size: 20px;
}

.bill a:link {
  color: #aaaaaa;
}

.bill a:hover {
  color: #444;
  cursor: pointer;
}

.bill tfoot tr:hover {
  color: #444;
  cursor: pointer;
}

.bill tbody tr:hover {
  color: #444;
  cursor: pointer;
}

tbody .lineitem {
  color: #aaaaaa;
}

.lineitem .description {
  width: 350px;
  text-align: left;
  overflow: hidden;
}

.lineitem .total {
  width: 350px;
  text-align: right;
  overflow: hidden;
  font-weight: bold;
}

.lineitem .amount {
  width: 50px;
  text-align: right;
  overflow: hidden;
}

.add_line_item {
  text-align: left;
}


#lineitem_participants {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 200px;
  background: blue;
  z-index: 10;
}

#add_lineitem {
  position: fixed;
  left: 100px;
  top: 100px;
  width: 200px;
  background: red;
  z-index: 20;
}

#participants{
  position: absolute;
  left: 500px;
  top: 0px;
  width: 200px;
  background-color: #fff;
  margin: 0px;
}
